<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <h3 class="text-center"> Add Title </h3>
            <hr />
        <div class="row">
            <div class="card-body">
                <form [formGroup]="addForm" (ngSubmit)="onAddFormSubmit()">

                    <div class="form-group">
                        <label> Name</label>
                        <input type="text" class="form-control" id="name" formControlName="name" required="true">
                        <div *ngIf="addForm.dirty && name?.invalid" class="error" style="color: red;">
                            Name required.
                        </div>
                    </div>

                    <br />
                    <button class="btn btn-success" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>